@import 'tailwindcss';
@import './fonts.css';

@theme {
  --color-neutral-00: oklch(100% 0 0);
  --color-neutral-50: oklch(98.5% 0 0);
  --color-neutral-100: oklch(96% 0 0);
  --color-neutral-200: oklch(92.2% 0 0);
  --color-neutral-300: oklch(87% 0 0);
  --color-neutral-400: oklch(70.8% 0 0);
  --color-neutral-500: oklch(55.6% 0 0);
  --color-neutral-600: oklch(43.9% 0 0);
  --color-neutral-700: oklch(37.1% 0 0);
  --color-neutral-800: oklch(26.9% 0 0);
  --color-neutral-900: oklch(20.5% 0 0);
  --color-neutral-950: oklch(14.5% 0 0);
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-900);
  --color-foreground-accent: var(--color-neutral-300);
  --color-foreground-muted: var(--color-neutral-700);
  --color-brand-yellow: #ffd503;
  --color-brand-blue: #006fe5;
  --color-brand-purple: #9937fd;
  --color-brand-red: #fb2e36;
  --color-brand-green: #009348;
  --color-theme-primary: var(--color-brand-blue);
  --color-theme-accent: mix(var(--color-theme-primary), white, 10%);
  --font-sans: var(--font-cera-pro);
  --spacing-nav-height: 4rem;
  --spacing-topnav-height: 4rem;
  --spacing-controls-height: 3rem;
  --spacing-filter-offset: calc(
    var(--spacing-nav-height) + var(--spacing-topnav-height)
  );
  --spacing-inventory-offset: calc(
    var(--spacing-topnav-height) + var(--spacing-controls-height)
  );
  --spacing-sticky-label: calc(
    var(--spacing-topnav-height) + var(--spacing-controls-height)
  );
  --breakpoint-xs: 23.5rem;
}

@media (min-width: 1024px) {
  :root {
    --spacing-topnav-height: 6rem;
    --spacing-sticky-label: calc(
      var(--spacing-topnav-height) + var(--spacing-controls-height) +
        var(--spacing-nav-height)
    );
  }
}

.dark {
  --color-neutral-950: oklch(98.5% 0 0);
  --color-neutral-900: oklch(95% 0 0);
  --color-neutral-800: oklch(92.2% 0 0);
  --color-neutral-700: oklch(87% 0 0);
  --color-neutral-600: oklch(70.8% 0 0);
  --color-neutral-500: oklch(55.6% 0 0);
  --color-neutral-400: oklch(43.9% 0 0);
  --color-neutral-300: oklch(37.1% 0 0);
  --color-neutral-200: oklch(26.9% 0 0);
  --color-neutral-100: oklch(20.5% 0 0);
  --color-neutral-50: oklch(14.5% 0 0);
  --color-neutral-00: oklch(5% 0 0);
  --color-background: var(--color-neutral-100);
}

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant list {
  &:where([data-view='list'] *) {
    @slot;
  }
}

@custom-variant grid {
  &:where([data-view='grid'] *) {
    @slot;
  }
}

@custom-variant item-sm {
  &:where([data-item-size='sm'] *) {
    @slot;
  }
}

@custom-variant item-md {
  &:where([data-item-size='md'] *) {
    @slot;
  }
}

@custom-variant item-lg {
  &:where([data-item-size='lg'] *) {
    @slot;
  }
}

@custom-variant selected {
  &:where([data-selected='true'] *) {
    @slot;
  }
}

@custom-variant sidebar {
  &:where(.sidebar *) {
    @slot;
  }
}

input.hide-arrows::-webkit-outer-spin-button,
input.hide-arrows::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.hide-arrows[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: 'CeraPro', sans-serif;
}

.dark img[data-knockout='true'] {
  filter: url('#knockout-white');
}

/* Utility: hide scrollbars (Chrome/Safari/Opera, Firefox, IE/Edge) */
@utility no-scrollbar {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
